{% extends "base.html" %}

{% block content %}
    <h1>Online Store</h1>
    <p>Welcome to Best Store</p>

    <p>Our store offer :</p>

    <table class="table">
      <tr>

        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th> </th>
      </tr>
    {% for item in items_list %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td> BUY IT </td>
      </tr>
    {% endfor %}

    </table>


{% endblock %}